<h2 class="squatch-panel-title">
  {{i18n "referralDiscountStatus" bundle="i18n/messages"}}
</h2>

<div class="squatch-stats">
  <div class="squatch-stats-item">
    <div class="squatch-stats-title">
      {{#if rewardBalances.[0].totalRedeemedCredit}}
        {{rewardBalances.[0].totalRedeemedCredit}}
      {{else}}
        0
      {{/if}}
    </div>

    <span class="squatch-stats-description">
      {{i18n "monthsUsed" bundle="i18n/messages"}}
    </span>
  </div>

  <div class="squatch-stats-item">
    <div class="squatch-stats-title text-green">
      {{#if rewardBalances.[0].count}}
        {{rewardBalances.[0].count}}
      {{else}}
        0
      {{/if}}
    </div>

    <span class="squatch-stats-description">
      {{i18n "monthsActve" bundle="i18n/messages"}}
    </span>
  </div>

  <div class="squatch-stats-item">
    <div class="squatch-stats-title">{{referralsLength}}</div>

    <span class="squatch-stats-description">{{i18n "friendsReferred" bundle="i18n/messages"}}</span>
  </div>
</div>
