<h2 class="squatch-panel-title">
  Rewards
</h2>

<div class="squatch-stats">
  <div class="squatch-stats-item">
    <div class="squatch-stats-title">
      {{#if timeCreditRewardBalance.totalRedeemedCredit}}
        {{timeCreditRewardBalance.totalRedeemedCredit}}
      {{else}}
        0
      {{/if}}
    </div>

    <span class="squatch-stats-description">
      Free
      Month{{#if timeCreditRewardBalance.totalRedeemedCredit}}<span class="hidden-{{math timeCreditRewardBalance.totalRedeemedCredit '== 1'}}">s</span>{{else}}s{{/if}}
      Used
    </span>
  </div>

  <div class="squatch-stats-item">
    <div class="squatch-stats-title text-green">
      {{#if timeCreditRewardBalance.totalAssignedCredit}}
        {{timeCreditRewardBalance.totalAssignedCredit}}
      {{else}}
        0
      {{/if}}
    </div>

    <span class="squatch-stats-description">
      Free
      Month{{#if timeCreditRewardBalance.totalRedeemedCredit}}
          <span class="hidden-{{math timeCreditRewardBalance.totalAssignedCredit '== 1'}}">s</span>{{else}}s{{/if}}
      Active
    </span>
  </div>

  <div class="squatch-stats-item">
    <div class="squatch-stats-title">{{referralsLength}}</div>

    <span class="squatch-stats-description">Friends Referred</span>
  </div>
</div>
