<td>
  {{#if referral.imageUrl}}
    <img class="img-circle squatch-referrals-avatar" src="{{referral.imageUrl}}">
  {{else}}
    <img class="img-circle squatch-referrals-avatar" src="{{gravatar referral.email default="mm" rating="pg" size=40}}">
  {{/if}}

  <div class="squatch-referrals-heading">{{referral.firstName}}</div>

  <div class="squatch-referrals-description">
    <span class="hidden-sm">
      {{#if description}}
        {{description}}
      {{else}}
        {{#if paid}}
          Paid User
        {{else}}
          Trial User
        {{/if}}
      {{/if}}
    </span>

    <span class="hidden-md
      {{#if paid}}
        text-green
      {{else}}
        text-yellow
      {{/if}}
    ">
      {{#if paid}}
        {{programDetails.referredRewardDetails.credit}}

        Month<span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">s</span>

        Free Time
      {{else}}
        {{programDetails.referredRewardDetails.credit}}
        Month<span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">s</span> Pending
      {{/if}}
    </span>
  </div>
</td>

<td class="hidden-sm">
  <div class="squatch-referrals-heading">
    {{#if heading}}
      {{heading}}
    {{else}}
      {{#if paid}}
        Signed Up
      {{else}}
        Referred
      {{/if}}
    {{/if}}
  </div>

  <div class="squatch-referrals-description" data-moment="true">{{dateReferred}}</div>
</td>

<td>
  <i class="icon squatch-referrals-icon
    {{#if paid}}
      icon-ok-circled text-green
    {{else}}
      icon-attention text-yellow
    {{/if}}
  "></i>

  <div class="squatch-referrals-heading hidden-sm">
    {{#if paid}}
      {{programDetails.referredRewardDetails.credit}}
      Month<span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">s</span>
    {{else}}
      Trial Signup
    {{/if}}
  </div>

  <div class="squatch-referrals-description hidden-sm
    {{#if paid}}
      text-green
    {{else}}
      text-yellow
    {{/if}}
  ">
    {{#if paid}}
      Free Time
    {{else}}
      {{programDetails.referredRewardDetails.credit}}
      Month<span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">s</span> Pending
    {{/if}}
  </div>
</td>
