<td>
  {{#if referral.imageUrl}}
    <img class="img-circle squatch-referrals-avatar" src="{{referral.imageUrl}}">
  {{else}}
    <img class="img-circle squatch-referrals-avatar" src="{{gravatar referral.email default="mm" rating="pg" size=40 secure=isSecureUrl}}">
  {{/if}}

  <div class="squatch-referrals-heading">{{referral.firstName}}</div>

  <div class="squatch-referrals-description">
    <span class="hidden-sm">
      {{#if description}}
        {{description}}
      {{else}}
        {{#if paid}}
          {{i18n "paidUser" bundle="i18n/messages"}}
        {{else}}
          {{i18n "trialUser" bundle="i18n/messages"}}
        {{/if}}
      {{/if}}
    </span>

    <span class="hidden-md
      {{#if paid}}
        text-green
      {{else}}
        text-yellow
      {{/if}}
    ">
      {{#if paid}}
        {{programDetails.referredRewardDetails.credit}}

        {{i18n "month" bundle="i18n/messages"}}

        {{i18n "discountEarned" bundle="i18n/messages"}}
      {{else}}
        {{programDetails.referredRewardDetails.credit}}
        {{i18n "discountPending" bundle="i18n/messages"}}
      {{/if}}
    </span>
  </div>
</td>

<td class="hidden-sm">
  <div class="squatch-referrals-heading">
    {{#if heading}}
      {{heading}}
    {{else}}
      {{#if paid}}
        {{i18n "signedUp" bundle="i18n/messages"}}
      {{else}}
        {{i18n "referred" bundle="i18n/messages"}}
      {{/if}}
    {{/if}}
  </div>

  <div class="squatch-referrals-description" data-moment="true">{{dateReferred}}</div>
</td>

<td>
  <i class="icon squatch-referrals-icon
    {{#if paid}}
      icon-ok-circled text-green
    {{else}}
      icon-attention text-yellow
    {{/if}}
  "></i>

  <div class="squatch-referrals-heading hidden-sm">
    {{#if paid}}
      {{programDetails.referredRewardDetails.credit}}
      {{i18n "month" bundle="i18n/messages"}}
    {{else}}
      {{i18n "trialSignup" bundle="i18n/messages"}}
    {{/if}}
  </div>

  <div class="squatch-referrals-description hidden-sm
    {{#if paid}}
      text-green
    {{else}}
      text-yellow
    {{/if}}
  ">
    {{#if paid}}
      {{i18n "discountEarned" bundle="i18n/messages"}}
    {{else}}
      {{programDetails.referredRewardDetails.credit}}
      {{i18n "discountPending" bundle="i18n/messages"}}
    {{/if}}
  </div>
</td>
