<td>
  <img class="img-circle squatch-referrals-avatar" src="{{gravatar referral.email default="mm" rating="pg" size=40 secure=isSecureUrl}}">

  <div class="squatch-referrals-heading">
    Manual Reward
  </div>

  <div class="squatch-referrals-description">
    <span class="hidden-sm">
      {{description}}
    </span>
  </div>
</td>

<td class="hidden-sm">
  <div class="squatch-referrals-heading">
    {{heading}}
  </div>

  <div class="squatch-referrals-description" data-moment="true">{{dateGiven}}</div>
</td>

<td>
  <i class="icon squatch-referrals-icon icon-ok-circled text-green"></i>

  <div class="squatch-referrals-heading hidden-sm">
    {{#if (stringCompare unit "CENTS" emptyOnFalse=true)}}
        ${{math value '/ 100'}}
    {{else}}
      {{#if (stringCompare unit "month" emptyOnFalse=true)}}
        {{value}} {{unit}}<span class="hidden-{{math value '== 1'}}">s</span>
      {{else}}
        {{value}} {{unit}}
      {{/if}}
    {{/if}}
  </div>

  <div class="squatch-referrals-description hidden-sm text-green">
    Reward Given
  </div>
</td>
