<h2 class="squatch-stats-title">
  Referral Stats
</h2>

<div class="squatch-stats-summary">
  <div class="squatch-stats-summary-item">
    <div class="squatch-stats-summary-title">
      {{#if rewardBalances.[0].totalRedeemedCredit}}
        {{rewardBalances.[0].totalRedeemedCredit}}
      {{else}}
        0
      {{/if}}
    </div>

    <span class="squatch-stats-summary-description">
      Free
      Month{{#if rewardBalances.[0].totalRedeemedCredit}}<span class="hidden-{{math rewardBalances.[0].totalRedeemedCredit '== 1'}}">s</span>{{else}}s{{/if}}
      Used
    </span>
  </div>

  <div class="squatch-stats-summary-item">
    <div class="squatch-stats-summary-title text-green">
      {{#if rewardBalances.[0].count}}
        {{rewardBalances.[0].count}}
      {{else}}
        0
      {{/if}}
    </div>

    <span class="squatch-stats-summary-description">
      Free
      Month{{#if rewardBalances.[0].totalRedeemedCredit}}<span class="hidden-{{math rewardBalances.[0].count '== 1'}}">s</span>{{else}}s{{/if}}
      Active
    </span>
  </div>

  <div class="squatch-stats-summary-item">
    <div class="squatch-stats-summary-title">{{referralsLength}}</div>

    <span class="squatch-stats-summary-description">Friends Referred</span>
  </div>
</div>
