<div class="squatch-actions" data-referrals="{{#if referredBy.dateReferred}}{{math referralsLength '+ 1'}}{{else}}{{math referralsLength}}{{/if}}"
  {{#unless referredBy.dateReferred}}
    data-referredBy="0"
  {{/unless}}
>
  <button data-open-panel="#squatch-panel" class="btn btn-default
    {{#unless referrals}}
      {{#unless referredBy.dateReferred}}
        disabled
      {{/unless}}
    {{/unless}}
  ">
    {{#if referrals}}
      {{i18n "showDetails" bundle="i18n/messages"}}
    {{else}}
      {{#if referredBy.dateReferred}}
        {{i18n "showDetails" bundle="i18n/messages"}}
      {{else}}
        {{i18n "noReferrals" bundle="i18n/messages"}}
      {{/if}}
    {{/if}}
  </button>

  {{> attribution}}
</div>
