<div class="squatch-actions" data-referrals="{{#if referredBy.dateReferred}}{{#if referredBy.hasCancelledReferredReward}}{{nonCancelledReferralAndRewardsListLength}}{{else}}{{math nonCancelledReferralAndRewardsListLength '+ 1'}}{{/if}}{{else}}{{nonCancelledReferralAndRewardsListLength}}{{/if}}"
  {{#if referredBy.hasCancelledReferredReward}}
    data-referredBy="0"
  {{else}}
    {{#unless referredBy.dateReferred}}
        data-referredBy="0"
    {{/unless}}  
  {{/if}}
>
  <button data-open-panel="#squatch-panel" class="btn btn-default
    {{#unless hasNonCancelledReferralsOrRewards}}
      disabled
    {{/unless}}
  ">
    {{#if referrals}}
      Show Details
    {{else}}
      {{#if referredBy.dateReferred}}
        Show Details
      {{else}}
        {{#if rewardsBySource.MANUAL}}
          Show Details
        {{else}}
          No Referrals Yet...
        {{/if}}
      {{/if}}
    {{/if}}
  </button>

  {{> attribution}}
</div>
