<p class="squatch-lead">
  Give a friend

  <span class="hidden-{{math programDetails.referredRewardDetails.credit '> 1'}}">a</span>
  <span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">{{programDetails.referredRewardDetails.credit}}</span>

  free

  month<span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">s</span>
  of {{companyName}} and receive
  <span class="hidden-{{math programDetails.referredRewardDetails.credit '> 1'}}">a</span>
  <span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">{{programDetails.referredRewardDetails.credit}}</span>

  free

  month<span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">s</span>

  of {{companyName}} credit when they pay their first bill.
</p>
