<div class="squatch-referrals-title">
  Referral Details
</div>

<div
  class="squatch-referrals"
  id="squatch-referrals-scroll"
  data-scroll-offset="0"
  data-scroll-limit="{{referralAndRewardListLength}}">

  <table class="squatch-referrals-list">
    {{#if referredBy.referredByUser}}
      {{#unless referredBy.hasCancelledReferredReward}}
        <tr id="0">
          {{#block
            "referredByUser"
            referral=referredBy.referredByUser
            description="Referring User"
            heading="Referred You"
            referred=""
            paid=1
            reward=referredBy.referredReward
            dateReferred=referredBy.dateReferred}}
  
            {{!-- TODO: Switch the second line below out with the line directly below when we've updated to Handlebars.java 2.2.0 --}}
            {{!-- {{> (stringFormat 'programs/%s/referral' programDetails.referredRewardDetails.rewardType)}} --}}
            {{> programs/TIME_CREDIT/referral}}
          {{/block}}
        </tr>
      {{/unless}}
    {{/if}}

    {{#each referrals}}
      {{#unless hasCancelledReferrerReward}}
        <tr id="{{#if ../referredBy.dateReferred}}{{#if ../referredBy.hasCancelledReferredReward}}{{math @index}}{{else}}{{math @index '+ 1'}}{{/if}}{{else}}{{math @index}}{{/if}}">
          {{#block
            "referredUser"
            referral=referredUser
            referred="Referred User"
            description=""
            heading=""
            reward=referrerReward
            programDetails=../programDetails}}
  
            {{!-- TODO: Switch the second line below out with the line directly below when we've updated to Handlebars.java 2.2.0 --}}
            {{!-- {{> (stringFormat 'programs/%s/referral' programDetails.referredRewardDetails.rewardType) }} --}}
            {{> programs/TIME_CREDIT/referral}}
          {{/block}}
        </tr>
      {{/unless}}
    {{/each}}

    {{#each rewardsBySource.MANUAL}}
      {{#unless isCancelled}}
        <tr id="{{#if ../referredBy.dateReferred}}{{#if ../referredBy.hasCancelledReferredReward}}{{math @index '+' referralsLength}}{{else}}{{math @index '+ 1 +' referralsLength}}{{/if}}{{else}}{{math @index '+' referralsLength}}{{/if}}">
          {{#block
            "arbitraryReward"
            description="No Referral"
            heading="Applied"
            unit=unit
            value=value
            dateGiven=dateGiven}}
  
            {{> programs/TIME_CREDIT/reward}}
          {{/block}}
        </tr>
      {{/unless}}
    {{/each}}
  </table>
</div>

<div class="squatch-referrals-actions">
  <button class="btn btn-default disabled" data-scroll-element="#squatch-referrals-scroll" data-scroll-increment="-3">Previous</button>

  <button class="btn btn-default" data-close-panel="#squatch-panel" data-scroll-reset="#squatch-referrals-scroll">Hide Details</button>

  <button class="btn btn-default disabled" data-scroll-element="#squatch-referrals-scroll" data-scroll-increment="3">View More</button>
</div>
