<div class="squatch-referrals-title">
  Referral Details
</div>

<div
  class="squatch-referrals"
  id="squatch-referrals-scroll"
  data-scroll-offset="0"
  data-scroll-limit="{{#if referredBy.dateReferred}}{{math referralsLength '+ 1'}}{{else}}{{math referralsLength}}{{/if}}">

  <table class="squatch-referrals-list">
    {{#if referredBy.referredByUser}}
      <tr id="0">
        {{#block
          "referredByUser"
          referral=referredBy.referredByUser
          description="Referring User"
          heading="Referred You"
          paid=1
          dateReferred=referredBy.dateReferred}}

          {{!-- TODO: Switch the second line below out with the line directly below when we've updated to Handlebars.java 2.2.0 --}}
          {{!-- {{> (stringFormat 'programs/%s/referral' programDetails.referredRewardDetails.rewardType)}} --}}
          {{> programs/TIME_CREDIT/referral}}
          {{> debug/log_context}}
        {{/block}}
      </tr>
    {{/if}}

    {{#each referrals}}
      <tr id="{{#if ../referredBy.dateReferred}}{{math @index '+ 1'}}{{else}}{{math @index}}{{/if}}">
        {{#block
          "referredUser"
          referral=referredUser
          programDetails=../programDetails}}

          {{!-- TODO: Switch the second line below out with the line directly below when we've updated to Handlebars.java 2.2.0 --}}
          {{!-- {{> (stringFormat 'programs/%s/referral' programDetails.referredRewardDetails.rewardType) }} --}}
          {{> programs/TIME_CREDIT/referral}}
        {{/block}}
      </tr>
    {{/each}}
  </table>
</div>

<div class="squatch-referrals-actions">
  <button class="btn btn-default disabled" data-scroll-element="#squatch-referrals-scroll" data-scroll-increment="-3">Previous</button>

  <button class="btn btn-default" data-close-panel="#squatch-panel" data-scroll-reset="#squatch-referrals-scroll">Hide Details</button>

  <button class="btn btn-default disabled" data-scroll-element="#squatch-referrals-scroll" data-scroll-increment="3">View More</button>
</div>
