<!doctype html>
<!--[if lt IE 9]><html class="lt-ie9 ie no-flash"><![endif]-->
<!--[if IE 9]><html class="ie no-flash"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-flash" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Referral SaaSquatch Time Credit Theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{{assets 'css/widget.css'}}">

    {{> (stringFormat 'programs/%s/theme_messages' programDetails.referredRewardDetails.rewardType) }}
    {{squatchHead}}

    <!--[if lt IE 9]>
      <script src="/assets/libs/html5shiv-printshiv.min.js"></script>
    <![endif]-->

    <script>
      // Detect if client supports flash and if so remove the `no-flash` class from the html element
      (function() {
        var hasFlash = false;
        try {
          var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
          if (fo) {
            hasFlash = true;
          }
        } catch (e) {
          if (navigator.mimeTypes
                && navigator.mimeTypes['application/x-shockwave-flash'] != undefined
                && navigator.mimeTypes['application/x-shockwave-flash'].enabledPlugin) {
            hasFlash = true;
          }
        }

        if (hasFlash) {
          html = document.getElementsByTagName('html')[0];
          html.className = html.className.replace('no-flash', '');
        }
      })()
    </script>
  </head>
  <body>

    <main class="squatch-container squatch-container-{{lower mode}}">
      <div class="squatch-body">
        {{> (stringFormat 'programs/%s/title' programDetails.referredRewardDetails.rewardType)}}

        <button class="close squatch-header-close" data-close-panel="#squatch-stats-panel">Close</button>

        {{> (stringFormat 'programs/%s/lead' programDetails.referredRewardDetails.rewardType)}}
        {{> cta}}
        {{> share}}
      </div>

      <div class="squatch-stats" id="squatch-stats-panel">
        <div class="squatch-stats-body">
          {{> (stringFormat 'programs/%s/stats' programDetails.referredRewardDetails.rewardType)}}
          {{> referrals}}
          {{> referrals_actions}}
          {{> attribution}}
        </div>
      </div>

      {{> actions}}
    </main>

    <!--[if lt IE 9]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{assets 'libs/ZeroClipboard-oldie.js'}}"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="{{assets 'libs/ZeroClipboard.js'}}"></script><!--<![endif]-->

    <script src="{{assets 'libs/moment.min.js'}}"></script>
    <script src="{{assets 'javascript/widget.js'}}"></script>
  </body>
</html>
