<!doctype html>
<!--[if lt IE 9]><html class="lt-ie9 ie no-flash"><![endif]-->
<!--[if IE 9]><html class="ie no-flash"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-flash" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Referral SaaSquatch Time Credit Theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{{assets 'css/widget.css'}}">

    {{!-- TODO: Switch the second line below out with the line directly below when we've updated to Handlebars.java 2.2.0 --}}
    {{!-- {{> (stringFormat 'programs/%s/theme_messages' programDetails.referredRewardDetails.rewardType) }} --}}
    {{> programs/TIME_CREDIT/theme_messages}}
    {{squatchHead}}

    <!--[if lt IE 9]>
      <script src="/assets/libs/html5shiv-printshiv.min.js"></script>
    <![endif]-->

    <script src="/assets/javascript/detect-flash.js"></script>
  </head>

  <body>
    <main class="squatch-container squatch-container-{{lower mode}}">
      <div class="squatch-body">
        {{!-- TODO: Switch the second line below out with the line directly below when we've updated to Handlebars.java 2.2.0 --}}
        {{!-- {{> (stringFormat 'programs/%s/title' programDetails.referredRewardDetails.rewardType) }} --}}
        {{> programs/TIME_CREDIT/title}}

        <button class="close squatch-header-close" data-close-panel="#squatch-stats-panel">Close</button>

        {{!-- TODO: Switch the second line below out with the line directly below when we've updated to Handlebars.java 2.2.0 --}}
        {{!-- {{> (stringFormat 'programs/%s/lead' programDetails.referredRewardDetails.rewardType) }} --}}
        {{> programs/TIME_CREDIT/lead}}
        {{> cta}}
        {{> share}}
      </div>

      {{> stats}}
      {{> actions}}
    </main>

    <!--[if lt IE 9]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{assets 'libs/ZeroClipboard-oldie.js'}}"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="{{assets 'libs/ZeroClipboard.js'}}"></script><!--<![endif]-->

    <script src="{{assets 'libs/moment.min.js'}}"></script>
    <script src="{{assets 'javascript/widget.js'}}"></script>
  </body>
</html>
